nav{
    position: fixed;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    min-height: 50px;
        .logo{
            display: flex;
            align-items: center;
            gap: 10px;
                a{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
        }
        .links{
            display: flex;
            gap: 171px;
            align-items: center;
                .link{
                    ul{
                    display: flex;
                    gap: 72px;
                    }
                }
                .toggle{
                    display: flex;
                    gap: 30px;
                    align-items: center;
                        a:nth-last-child(1){
                            padding: 10px 14px;
                            border-radius: 70px;
                            color: white;
                            background: rgb(40,120,255);
                            background: linear-gradient(90deg, rgba(40,120,255,1) 0%, rgba(44,101,200,1) 100%);
                        }
                }
        }
}